.border {
  border: 1px solid gray;
}

.border-r {
  border: 1px solid red;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.display-flex {
  display: flex;
}

.flex1 {
  flex: 1 1 auto;
}

.pad-container {
  padding-left: 5%;
  padding-right: 5%;
}
.top-space {
  margin-top: 4%;
}
.money-input {
  min-width: none;

  width: 100%;
}

.width35 {
  width: 35%;
}
.width15 {
  width: 15%;
}
.width85 {
  width: 85%;
}
.width40 {
  width: 40%;
}
.width48 {
  width: 48%;
}
.width5 {
  width: 3%;
}
.margin-h {
  margin-left: 6px;
  margin-right: 6px;
}
