.indent {
  padding-left: 8%;
}

.label-text {
  font-size: small;
}
.label-text-m {
  font-size: medium;
}
.flex3 {
  flex: 3;
}

.row-mar {
  margin-top: 5%;
  margin-bottom: 5%;
}

.width30 {
  width: 30%;
}

div {
  margin: 0;
}

.qty-label {
  margin-top: -5%;
}
.qty-label-10 {
  margin-top: -10%;
}

.padding6 {
  padding-top: 6%;
  //padding-bottom: 6%;
}
