.container-cardor {
  height: 700px;
}

.equipmentScreen {
  border-color: black;
  border-radius: 20px;
  border-width: 20px;
  height: 250px;
  overflow-y: auto;
}

.content form {
  width: 100%;
}

.topMargin {
  margin-top: '-35%';
}

.deleteButton {
  float: right;
}

.placeDetailScreen {
  float: right;
  margin-top: -42%;
  width: 33%;
}

.centerButtonOrder {
  margin-left: 40%;
  margin-top: 2%;
}

.centerButtonCancel {
  margin-left: 39%;
  margin-top: 2%;
}
