.filterable-product-table {
  width: 98%;
  padding-top: 2%;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;

  .filterable-product-table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .table th,
  td {
    border-bottom: 0.2rem solid #f1f1f1;
  }

  .table-tittle {
    font-size: 1.8rem;
  }
}
