.Merchant-Withdrawal {
  width: 98%;
  padding-top: 2%;
  .Withdrawal-Container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
  }
}
.revenue-price {
  font-size: 25px;
  color: grey;
}
