.Modal {
  ::placeholder {
    /* Firefox, Chrome, Opera */
    color: #dfdcdc;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #dfdcdc;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #dfdcdc;
  }

  background-color: $white;
  &.container {
    width: 760px;
    height: 752px;
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
    //border: 1px solid blue !important;

    //////////////////// ADD BANK FORM SETTINGS //////////////
    .form-bank {
      width: 665px;
      height: 455px;
      margin: auto;

      .form-group {
        margin-bottom: 1.38rem;
      }

      .form-control {
        width: 665px !important;
        height: 55px !important;
        border-radius: 0;
        border: 4px solid #959595 !important;
        font-size: 2.375rem;
        color: $brand-grey;
      }

      .form-check {
        padding-left: 0px !important;
      }

      h3 {
        color: #212222;
        font-size: 1.5rem;
        margin-bottom: 31px;
      }

      .btn {
        width: 665px !important;
        margin-bottom: 26px;
        text-align: left;
        font-size: 2.375rem;
        padding: 0 0.95rem;
      }
    }

    //////////////////// CONFIRMTATION FORM SETTINGS //////////////

    .form-header-confirmation {
      width: 760px;
      height: 66px;
      background-color: #d42d27;

      span {
        color: white;
        font-size: 2.9375rem;
        padding-left: 45px;
        padding-bottom: 17px;
      }
      margin-bottom: 38px;
    }

    .form-confirmation {
      width: 665px;
      height: 373px;
      margin: auto;

      .form-group {
        margin-bottom: 1.38rem;
      }

      .form-control {
        width: 665px !important;
        height: 55px !important;
        border-radius: 0;
        border: 4px solid #959595 !important;
        font-size: 2.375rem;
        color: $brand-grey;
      }

      .form-check {
        padding-left: 0px !important;
      }

      h3 {
        color: #212222;
        font-size: 1.5rem;
        margin-bottom: 73px;
      }

      .btn {
        width: 665px !important;
        margin-bottom: 26px;
        text-align: left;
        font-size: 2.375rem;
        padding: 0 0.95rem;
      }
    }

    ////////////////////////// VERIFY CODE FORM SETTINGS

    .form-verify-code {
      width: 665px;
      height: 613px;
      margin: auto;
      //border: 1px solid red !important;

      .code-sent-text {
        height: 49px;
      }

      .form-group {
        margin-bottom: 1.38rem;
      }

      .form-control {
        width: 665px !important;
        height: 55px !important;
        border-radius: 0;
        border: 4px solid #959595 !important;
        font-size: 2.375rem;
        font-size: 400;
        color: $brand-grey;
      }

      .form-check {
        padding-left: 0px !important;
      }

      h3 {
        color: #212222;
        font-size: 1.5rem;
        font-weight: 400;
      }

      .btn {
        width: 665px !important;
        margin-bottom: 26px;
        text-align: left;
        font-size: 2.375rem;
        padding: 0 0.95rem;
      }
    }

    .form-verify-code .form-group {
      margin-bottom: 0;
    }

    .modal-vc-check-form .modal-vc-text h3 {
      color: #d42d27;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.05em;
      margin-top: 27px;
      margin-bottom: 0px;
    }

    .modal-vc-check-form .modal-vc-check-text {
      width: 665px;
      height: 56px;
      font-size: 2.375rem;
      margin-top: 26px;

      label {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .InputCheckbox {
        margin-left: 17px;
      }
    }

    .modal-vc-check-form {
      height: 449px;

      .no-save-text {
        margin-top: 44px;
        margin-bottom: 90px;
        h3 {
          margin: 0px;
        }
      }
    }

    .input-vc-enter {
      width: 664px;
      margin-top: 31px !important;
      margin-left: 0px;
      margin-right: 0px;
      .input-col-vc-enter {
        padding-left: 0px;
        padding-right: 0px;
      }

      .verify-code-btn,
      .cancel-btn {
        width: 664px;
        height: 55px;
      }
    }
    .vc-buttons {
      height: 135px;
      margin-bottom: 26px;
    }
  }

  .form-header {
    width: 760px;
    height: 66px;
    background-color: #d42d27;

    span {
      color: white;
      font-size: 2.9375rem;
      font-weight: 400;
      padding-left: 45px;
    }
    margin-bottom: 27px;
  }

  .form-modal {
    width: 665px;
    height: 613px;
    margin: auto;

    .form-group {
      margin-bottom: 1.38rem;
    }

    .form-control {
      width: 665px !important;
      height: 55px !important;
      border-radius: 0;
      border: 4px solid #959595 !important;
      font-size: 2.375rem;
      font-weight: 400;
      color: $brand-grey;
    }

    .form-check {
      padding-left: 0px !important;
    }

    h3 {
      color: #212222;
      font-size: 1.5rem;
      margin-bottom: 31px;
    }

    .btn {
      width: 665px !important;
      margin-bottom: 26px;
      text-align: left;
      font-size: 2.375rem;
      padding: 0 0.95rem;
    }
  }
}
