.CustomerTransactions {
  padding: 1%;
  .customer-transactions {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 20px;
    .search-bar {
      background-color: white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 15px;
      h2 {
        margin-bottom: 10px;
      }
      .row {
        display: flex;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
      }
      .left {
        width: 75%;
      }
      .right {
        width: 25%;
      }
      input[type='search'] {
        border-radius: 10px;
        border: 1px solid;
        border-color: #dadada;
      }
      .date-string {
        padding-top: 6px;
        color: red;
      }
    }
    .recent-transactions {
      margin-left: 10px;
      margin-right: 10px;
      thead {
        font-size: 1.25rem;
        text-align: center;
      }
      tbody td {
        font-size: 1rem;
        vertical-align: middle;
        text-align: center;
      }
    }
    .customer-account-balance {
      background-color: #d52c25;
      color: white;
      font-size: 1.5rem;
      height: 2rem;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      .balance-string {
        margin-right: 20px;
      }
    }
  }
}

.no-transactions {
  font-size: 1.5rem;
  text-align: center;
}
